@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
/*Estilos Universales*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3 {
  font-family: "Playfair Display", serif;
  font-weight: 700; /* Esto le da el grosor elegante */
  color: #4a4a4a; /* Un gris oscuro queda más suave que el negro puro */
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: black;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

body {
  font-family: "Lato", sans-serif;
}

[class^="col-"] {
  width: 100%;
  padding: 5px;
}

.efecto {
  padding: 5px;
}

.efecto:hover {
  transform: scale(1.1);
  filter: brightness(1.1);
}

.logo-pequeño {
  width: 200px;
  height: 100px;
  object-fit: contain; /* Esto evita que la imagen se deforme */
}

/*Header*/
header {
  text-align: center;
  margin: 0;
  margin-bottom: 0;
  padding: 10px;
  border: 1px solid rgb(61, 61, 61);
}

.logo {
  margin: 10px;
}
/*Barra de navegación*/

nav a {
  display: block; /* Esto hace que el ancho sea solo el del texto */
  padding: 10px 20px; /* Espacio dentro del borde */
  border: 1px solid #ccc;
  margin-bottom: 5px; /* Espacio entre botones */
}

nav a:hover {
  background-color: rgb(109, 109, 101);
  color: white;
  transition: 0.3s;
}

.btn-inicio {
  background-color: transparent;
  margin-top: 20px;
  padding: 10px 20px;
  border-radius: 4px;
  font-weight: bold; /* Esto pone la letra en negrita estándar */
}
.btn-inicio:hover {
  background-color: rgb(223, 223, 150);
  transition: 0.3s;
}

/*1ºSección*/

.section1 {
  text-align: center;
}

.section1 h3 {
  margin: 20px;
  padding: 20px;
}

.section1 h1 {
  margin: 20px;
}

/*1ºSección*/

.section2 {
  margin: 50px;
}

.primero {
  border: 1px solid #535151;
  padding: 20px;
}

.segundo {
  border: 1px solid #535151;
  padding: 20px;
  display: flex; /* Activamos Flexbox */
  flex-direction: column; /* Alineamos los hijos en columna (hacia abajo) */
}
.section2 h4 {
  text-align: left;
  padding: 10px;
}

.direccion {
  padding: 10px;
}

.separar {
  padding: 10px;
}

iframe {
  display: block;
  margin: 20px 0;
  width: 100%;
}



input, textarea {
    width: 90%;            /* Que no toquen los bordes */
    margin: 10px auto;     /* Espaciado arriba/abajo y centrado */
    
    display: block;
}

.enviar{
    width: 40%;
    background-color: black;
    color: white;
    border-radius: 5%;
}
/*Footer*/

footer {
  margin-top: 0;
  border: 1px solid rgb(61, 61, 61);
  padding: 60px;
  background-color: gray;
  text-align: center;
}

footer nav a {
  margin: 0px;
  display: inline-block; /* Esto hace que el ancho sea solo el del texto */
  padding: 4px; /* Espacio dentro del borde */
  border: 0;
  margin-bottom: 0px; /* Espacio entre botones */
}
.redes img {
  margin: 5px;
}

/*Flecha*/

.flecha {
  padding: 5px;
  border: 1px solid black;
  border-radius: 50%;
  width: 35px;
  background-color: transparent;
  display: flex;
  position: fixed;
  bottom: 30px;
  right: 15px;
}

.flecha:hover {
  background-color: azure;
  transform: scale(1.1);
  filter: brightness(1.1);
}

@media (min-width: 576px) {
  nav a {
    display: inline-block;
  }

  .col-4 {
    width: 50%;
  }
}

@media (min-width: 768px) {
  .col-6 {
    width: 50%;
  }

  .contenido-banner {
    flex-direction: column; /* Se ponen uno debajo del otro en móviles */
    text-align: center;
  }
  .texto-der {
    text-align: center;
  }

  .encabezado {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .col-4 {
    width: 33.33%;
  }
  .final {
    align-items: center;
  }
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
}
